<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <p *ngIf="isLoading">Loading...</p>
  <p *ngIf="hasError" style="color:red;">An error occurred</p>

  <div>
    <div *ngFor="let user of users; let i = index">
        <button (click)="deleteUser(user)" [disabled]="isLoading">X</button><span>{{i}} {{user.name}}</span>
    </div>

    <p *ngIf="users.length === 0">No users are registered</p>
  </div>

  <div>
    <input [(ngModel)]="username">
      <button (click)="addUser()" [disabled]="isLoading || hasError">Add user</button>
  </div>
</div>