<div>
    <h1>
        Welcome to {{ title }}!
    </h1>

    <ngb-alert *ngIf="isLoading" type="info" [dismissible]="false">Loading...</ngb-alert>
    <ngb-alert *ngIf="hasError" type="danger" [dismissible]="false">An error occurred</ngb-alert>
  
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <ngb-alert *ngIf="users && users.length === 0 && !isLoading" type="info" [dismissible]="false">No users are registered</ngb-alert>
            <tr *ngFor="let user of users; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td><button ngbButton (click)="deleteUser(user)" [disabled]="isLoading">X</button></td>
            </tr>
        </tbody>
    </table>

    <div>
        <input [(ngModel)]="username">
        <button ngbButton (click)="addUser()" [disabled]="isLoading || hasError">Add user</button>
    </div>
</div>