<div>
    <h1>
        Welcome to {{ title }}!
    </h1>

    <ngb-alert *ngIf="hasError" type="danger" [dismissible]="false">An error occurred</ngb-alert>
    <div *ngIf="isLoading" class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <ngb-alert *ngIf="users && users.length === 0 && !isLoading" type="info" [dismissible]="false">No users are registered</ngb-alert>
            <tr *ngFor="let user of users; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>
                    <button (click)="deleteUser(user)" [disabled]="isLoading" type="button" class="btn btn-outline-danger">
                        <img src="/assets/trash.svg" width="24" height="24" title="Trash">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <input [(ngModel)]="username" (keyup.enter)="addUser()">
        <button type="button" class="btn btn-primary" (click)="addUser()" [disabled]="isLoading || hasError">Add user</button>
    </div>
</div>